<%- include("template/cabecera", {tituloweb: "Agregar Nuevo Cliente"}) %> 

    <div class="container">
        <h1>Agregar cliente</h1>
        <form action="/clientes" method="post">
            <input 
            type="number" min="1" required
            placeholder="Identificicación del Cliente"
            class="form-control my-2"   
            name="identificacion"    
            >
            <input 
            type="text" required
            placeholder="Nombre del Cliente"
            class="form-control my-2" 
            name="nombre"      
            >
            <input 
            type="number" min="1" required
            placeholder="Telefono del Cliente"
            class="form-control my-2"   
            name="telefono"    
            >
            <input 
            type="text" required
            placeholder="Dirección del Cliente"
            class="form-control my-2"
            name="direccion"       
            >
            <input 
            type="text" required
            placeholder="Ciudad del Cliente"
            class="form-control my-2"
            name="ciudad"       
            >
            <button 
            type="submit"
            class="btn btn-success btn-block"
            >
            Agregar Cliente
            </button>
        </form>
    </div>
    
<%- include("template/footer" ) %> 
